<nav class="navbar navbar-light bg-light">
    <ul class="nav-menu">
        <li class="nav-item">
            <a *ngIf="!loggedIn" (click)="toggleHamburguer()" [routerLink]="['/logIn']" class="nav-link">Log In</a>
            <a *ngIf="loggedIn" (click)="logOut()" [routerLink]="['/main']" class="nav-link">Log Out</a>
            <a *ngIf="loggedIn && permission == 1" (click)="toggleHamburguer()" [routerLink]="['/profesores']" class="nav-link">Profesores</a>
            <a *ngIf="loggedIn && permission == 1" (click)="toggleHamburguer()" [routerLink]="['/alumnos']" class="nav-link">Alumnos</a>
        </li>
    </ul>

    <div (click)="toggleHamburguer()" class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <a (click)="toggleHamburguer()" [routerLink]="['/main']" href=""><h1>Sistema de turnos</h1></a>

    <div></div>
</nav>
